<h1>Strength Exercises</h1>

<%= form_with do |form| %>
    <h2>Add new exercise:</h2>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    <div>

    <div>
        <%= form.label :sets %>
        <%= form.number_field :sets %>
    <div>

    <div>
        <%= form.label :reps %>
        <%= form.number_field :reps %>
    <div>

    <div>
        <%= form.label :weight %>
        <%= form.number_field :weight %>
    <div>

    <div>
        <%= form.submit "Add Exercise" %>
    </div>
<% end %>

<table>
    <tr>
        <th>Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
    </tr>
    <% @strength_exercises.each do |strength_exercise| %>
        <tr>
            <td><%= strength_exercise.name %></td>
            <td><%= strength_exercise.sets %></td>
            <td><%= strength_exercise.reps %></td>
            <td><%= strength_exercise.weight %></td>
        </tr>
    <% end %>
</table>

